@font-face {
  font-family: "BC_Bold";
  src: url("fonts/BarlowCondensed-Bold.ttf");
}
@font-face {
  font-family: "BC_Regular";
  src: url("fonts/BarlowCondensed-Regular.ttf");
}
@font-face {
  font-family: "BC_Light";
  src: url("fonts/BarlowCondensed-Light.ttf");
}

body {
  font-family: "BC_Regular";
  background-color: beige;
  margin: 30px;
}

main {
  display: flex;

  > div {
    padding: 20px;
  }
}

.recommendation {
  position: relative;
  flex-basis: 240px;
  background-color: rgba(0,0,0,.6);
  color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 15px;

  button {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    opacity: .5;

    &:hover {
      cursor: pointer;
      opacity: .75;
    }

    img {
      width: 100%;
    }
  }

  .place-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  & > p {
    font-family: "BC_Light";
  }

  &:hover {
    box-shadow: 0 0 5px black;
    cursor: pointer;
  }  
}

#recommendations-favs {

  border-left: 1px solid grey;
  flex: 0 0 300px;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .recommendation {
    button {
      opacity: 1;
    }
    p {
      display: none;
    }
    .place-image {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }  
  }
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#wrapper {
  border: 1px solid grey;
  border-radius: 20px;
  padding: 30px;
}