@font-face {
  font-family: "BC_Bold";
  src: url("fonts/BarlowCondensed-Bold.ttf");
}
@font-face {
  font-family: "BC_Regular";
  src: url("fonts/BarlowCondensed-Regular.ttf");
}
@font-face {
  font-family: "BC_Light";
  src: url("fonts/BarlowCondensed-Light.ttf");
}

body {
  font-family: "BC_Regular";
  background-color: beige;
}

#recommendations {
  padding: 30px;
  background-color: rgba(0,0,0,.2);
  text-align: center;
}
#recommendations_list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#recommendations_list > div {
  background-color: rgba(0,0,0,.6);
  color: white;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  flex: 1 0 0;

  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  & > p {
    font-family: "BC_Light";
  }

  &:hover {
    box-shadow: 0 0 5px black;
    cursor: pointer;
  }
}